#root {
  color: darkgreen; /* All letters */
  display: grid; /* Puts cards in a grid */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* creates a 3 cards per row that repeats itself */
  gap: 20px; /* gap between cards */
  padding: 20px; /* padding between browser edges and main body */
}

body {
  background-color: rgb(27, 25, 25);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.episode-card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 16px; /*makes cards with rounded box edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*shadow in card */
  border: 4px; /* size of the outline of the box */
  padding: 15px; /* padding inside the card, pushes internal elements to the center */
  background-color: black; /* color of the card */
  color: white;
  text-align: center;
}

.episode-img {
  width: 100%; /* adjust in the whole width */
  aspect-ratio: 16 / 9; /*width / height*/
  object-fit: cover; /*maintain the aspect ratio */
  /*height: auto; adjusts according to the rest of elements */
  border-radius: 8px; /* rounded edges of photo */
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: white;
  color: black;
}

#episode-select {
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid white;
  background-color: black;
  color: white;
}

#search-input {
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid white;
  background-color: black;
  color: white;
}
